<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Automated Bell System</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">RSET : Automated Bell System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if username %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">Logged in as : {{username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">logout</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to RSET's Automated Bell System</h1>
        <p class="lead">This system is built to automate the bell, anthem and announcements in Rajagiri School of Engineering and Technology </p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <h2 class="display-3" > Profiles </h2>
        {% for p in obj %}
        <div class="profile-container">
          <h4>{{p.name}}</h4>
          <table>
            <thead>
              <th>Time</th>
              <th>Type</th>
              <th>A</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Sun</th>
            </thead>
            <tbody>
              {% if p.b1 %}
              <tr>
                <td>{{p.b1}}</td>
                <td>{{p.t1}}</td>
                <td>{{p.a1}}</td>
                <td>{{p.b1_d0}}</td>
                <td>{{p.b1_d1}}</td>
                <td>{{p.b1_d2}}</td>
                <td>{{p.b1_d3}}</td>
                <td>{{p.b1_d4}}</td>
                <td>{{p.b1_d5}}</td>
                <td>{{p.b1_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b2 %}
              <tr>
                <td>{{p.b2}}</td>
                <td>{{p.t2}}</td>
                <td>{{p.a2}}</td>
                <td>{{p.b2_d0}}</td>
                <td>{{p.b2_d1}}</td>
                <td>{{p.b2_d2}}</td>
                <td>{{p.b2_d3}}</td>
                <td>{{p.b2_d4}}</td>
                <td>{{p.b2_d5}}</td>
                <td>{{p.b2_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b3 %}
              <tr>
                <td>{{p.b3}}</td>
                <td>{{p.t3}}</td>
                <td>{{p.a3}}</td>
                <td>{{p.b3_d0}}</td>
                <td>{{p.b3_d1}}</td>
                <td>{{p.b3_d2}}</td>
                <td>{{p.b3_d3}}</td>
                <td>{{p.b3_d4}}</td>
                <td>{{p.b3_d5}}</td>
                <td>{{p.b3_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b4 %}
              <tr>
                <td>{{p.b4}}</td>
                <td>{{p.t4}}</td>
                <td>{{p.a4}}</td>
                <td>{{p.b4_d0}}</td>
                <td>{{p.b4_d1}}</td>
                <td>{{p.b4_d2}}</td>
                <td>{{p.b4_d3}}</td>
                <td>{{p.b4_d4}}</td>
                <td>{{p.b4_d5}}</td>
                <td>{{p.b4_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b5 %}
              <tr>
                <td>{{p.b5}}</td>
                <td>{{p.t5}}</td>
                <td>{{p.a5}}</td>
                <td>{{p.b5_d0}}</td>
                <td>{{p.b5_d1}}</td>
                <td>{{p.b5_d2}}</td>
                <td>{{p.b5_d3}}</td>
                <td>{{p.b5_d4}}</td>
                <td>{{p.b5_d5}}</td>
                <td>{{p.b5_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b6 %}
              <tr>
                <td>{{p.b6}}</td>
                <td>{{p.t6}}</td>
                <td>{{p.a6}}</td>
                <td>{{p.b6_d0}}</td>
                <td>{{p.b6_d1}}</td>
                <td>{{p.b6_d2}}</td>
                <td>{{p.b6_d3}}</td>
                <td>{{p.b6_d4}}</td>
                <td>{{p.b6_d5}}</td>
                <td>{{p.b6_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b7 %}
              <tr>
                <td>{{p.b7}}</td>
                <td>{{p.t7}}</td>
                <td>{{p.a7}}</td>
                <td>{{p.b7_d0}}</td>
                <td>{{p.b7_d1}}</td>
                <td>{{p.b7_d2}}</td>
                <td>{{p.b7_d3}}</td>
                <td>{{p.b7_d4}}</td>
                <td>{{p.b7_d5}}</td>
                <td>{{p.b7_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b8 %}
              <tr>
                <td>{{p.b8}}</td>
                <td>{{p.t8}}</td>
                <td>{{p.a8}}</td>
                <td>{{p.b8_d0}}</td>
                <td>{{p.b8_d1}}</td>
                <td>{{p.b8_d2}}</td>
                <td>{{p.b8_d3}}</td>
                <td>{{p.b8_d4}}</td>
                <td>{{p.b8_d5}}</td>
                <td>{{p.b8_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b9 %}
              <tr>
                <td>{{p.b9}}</td>
                <td>{{p.t9}}</td>
                <td>{{p.a9}}</td>
                <td>{{p.b9_d0}}</td>
                <td>{{p.b9_d1}}</td>
                <td>{{p.b9_d2}}</td>
                <td>{{p.b9_d3}}</td>
                <td>{{p.b9_d4}}</td>
                <td>{{p.b9_d5}}</td>
                <td>{{p.b9_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b10 %}
              <tr>
                <td>{{p.b10}}</td>
                <td>{{p.t10}}</td>
                <td>{{p.a10}}</td>
                <td>{{p.b10_d0}}</td>
                <td>{{p.b10_d1}}</td>
                <td>{{p.b10_d2}}</td>
                <td>{{p.b10_d3}}</td>
                <td>{{p.b10_d4}}</td>
                <td>{{p.b10_d5}}</td>
                <td>{{p.b10_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b11 %}
              <tr>
                <td>{{p.b11}}</td>
                <td>{{p.t11}}</td>
                <td>{{p.a11}}</td>
                <td>{{p.b11_d0}}</td>
                <td>{{p.b11_d1}}</td>
                <td>{{p.b11_d2}}</td>
                <td>{{p.b11_d3}}</td>
                <td>{{p.b11_d4}}</td>
                <td>{{p.b11_d5}}</td>
                <td>{{p.b11_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b12 %}
              <tr>
                <td>{{p.b12}}</td>
                <td>{{p.t12}}</td>
                <td>{{p.a12}}</td>
                <td>{{p.b12_d0}}</td>
                <td>{{p.b12_d1}}</td>
                <td>{{p.b12_d2}}</td>
                <td>{{p.b12_d3}}</td>
                <td>{{p.b12_d4}}</td>
                <td>{{p.b12_d5}}</td>
                <td>{{p.b12_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b13 %}
              <tr>
                <td>{{p.b13}}</td>
                <td>{{p.t13}}</td>
                <td>{{p.a13}}</td>
                <td>{{p.b13_d0}}</td>
                <td>{{p.b13_d1}}</td>
                <td>{{p.b13_d2}}</td>
                <td>{{p.b13_d3}}</td>
                <td>{{p.b13_d4}}</td>
                <td>{{p.b13_d5}}</td>
                <td>{{p.b13_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b14 %}
              <tr>
                <td>{{p.b14}}</td>
                <td>{{p.t14}}</td>
                <td>{{p.a14}}</td>
                <td>{{p.b14_d0}}</td>
                <td>{{p.b14_d1}}</td>
                <td>{{p.b14_d2}}</td>
                <td>{{p.b14_d3}}</td>
                <td>{{p.b14_d4}}</td>
                <td>{{p.b14_d5}}</td>
                <td>{{p.b14_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b15 %}
              <tr>
                <td>{{p.b15}}</td>
                <td>{{p.t15}}</td>
                <td>{{p.a15}}</td>
                <td>{{p.b15_d0}}</td>
                <td>{{p.b15_d1}}</td>
                <td>{{p.b15_d2}}</td>
                <td>{{p.b15_d3}}</td>
                <td>{{p.b15_d4}}</td>
                <td>{{p.b15_d5}}</td>
                <td>{{p.b15_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b16 %}
              <tr>
                <td>{{p.b16}}</td>
                <td>{{p.t16}}</td>
                <td>{{p.a16}}</td>
                <td>{{p.b16_d0}}</td>
                <td>{{p.b16_d1}}</td>
                <td>{{p.b16_d2}}</td>
                <td>{{p.b16_d3}}</td>
                <td>{{p.b16_d4}}</td>
                <td>{{p.b16_d5}}</td>
                <td>{{p.b16_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b17 %}
              <tr>
                <td>{{p.b17}}</td>
                <td>{{p.t17}}</td>
                <td>{{p.a17}}</td>
                <td>{{p.b17_d0}}</td>
                <td>{{p.b17_d1}}</td>
                <td>{{p.b17_d2}}</td>
                <td>{{p.b17_d3}}</td>
                <td>{{p.b17_d4}}</td>
                <td>{{p.b17_d5}}</td>
                <td>{{p.b17_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b18 %}
              <tr>
                <td>{{p.b18}}</td>
                <td>{{p.t18}}</td>
                <td>{{p.a18}}</td>
                <td>{{p.b18_d0}}</td>
                <td>{{p.b18_d1}}</td>
                <td>{{p.b18_d2}}</td>
                <td>{{p.b18_d3}}</td>
                <td>{{p.b18_d4}}</td>
                <td>{{p.b18_d5}}</td>
                <td>{{p.b18_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b19 %}
              <tr>
                <td>{{p.b19}}</td>
                <td>{{p.t19}}</td>
                <td>{{p.a19}}</td>
                <td>{{p.b19_d0}}</td>
                <td>{{p.b19_d1}}</td>
                <td>{{p.b19_d2}}</td>
                <td>{{p.b19_d3}}</td>
                <td>{{p.b19_d4}}</td>
                <td>{{p.b19_d5}}</td>
                <td>{{p.b19_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b20 %}
              <tr>
                <td>{{p.b20}}</td>
                <td>{{p.t20}}</td>
                <td>{{p.a20}}</td>
                <td>{{p.b20_d0}}</td>
                <td>{{p.b20_d1}}</td>
                <td>{{p.b20_d2}}</td>
                <td>{{p.b20_d3}}</td>
                <td>{{p.b20_d4}}</td>
                <td>{{p.b20_d5}}</td>
                <td>{{p.b20_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b21 %}
              <tr>
                <td>{{p.b21}}</td>
                <td>{{p.t21}}</td>
                <td>{{p.a21}}</td>
                <td>{{p.b21_d0}}</td>
                <td>{{p.b21_d1}}</td>
                <td>{{p.b21_d2}}</td>
                <td>{{p.b21_d3}}</td>
                <td>{{p.b21_d4}}</td>
                <td>{{p.b21_d5}}</td>
                <td>{{p.b21_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b22 %}
              <tr>
                <td>{{p.b22}}</td>
                <td>{{p.t22}}</td>
                <td>{{p.a22}}</td>
                <td>{{p.b22_d0}}</td>
                <td>{{p.b22_d1}}</td>
                <td>{{p.b22_d2}}</td>
                <td>{{p.b22_d3}}</td>
                <td>{{p.b22_d4}}</td>
                <td>{{p.b22_d5}}</td>
                <td>{{p.b22_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b23 %}
              <tr>
                <td>{{p.b23}}</td>
                <td>{{p.t23}}</td>
                <td>{{p.a23}}</td>
                <td>{{p.b23_d0}}</td>
                <td>{{p.b23_d1}}</td>
                <td>{{p.b23_d2}}</td>
                <td>{{p.b23_d3}}</td>
                <td>{{p.b23_d4}}</td>
                <td>{{p.b23_d5}}</td>
                <td>{{p.b23_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b24 %}
              <tr>
                <td>{{p.b24}}</td>
                <td>{{p.t24}}</td>
                <td>{{p.a24}}</td>
                <td>{{p.b24_d0}}</td>
                <td>{{p.b24_d1}}</td>
                <td>{{p.b24_d2}}</td>
                <td>{{p.b24_d3}}</td>
                <td>{{p.b24_d4}}</td>
                <td>{{p.b24_d5}}</td>
                <td>{{p.b24_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b25 %}
              <tr>
                <td>{{p.b25}}</td>
                <td>{{p.t25}}</td>
                <td>{{p.a25}}</td>
                <td>{{p.b25_d0}}</td>
                <td>{{p.b25_d1}}</td>
                <td>{{p.b25_d2}}</td>
                <td>{{p.b25_d3}}</td>
                <td>{{p.b25_d4}}</td>
                <td>{{p.b25_d5}}</td>
                <td>{{p.b25_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b26 %}
              <tr>
                <td>{{p.b26}}</td>
                <td>{{p.t26}}</td>
                <td>{{p.a26}}</td>
                <td>{{p.b26_d0}}</td>
                <td>{{p.b26_d1}}</td>
                <td>{{p.b26_d2}}</td>
                <td>{{p.b26_d3}}</td>
                <td>{{p.b26_d4}}</td>
                <td>{{p.b26_d5}}</td>
                <td>{{p.b26_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b27 %}
              <tr>
                <td>{{p.b27}}</td>
                <td>{{p.t27}}</td>
                <td>{{p.a27}}</td>
                <td>{{p.b27_d0}}</td>
                <td>{{p.b27_d1}}</td>
                <td>{{p.b27_d2}}</td>
                <td>{{p.b27_d3}}</td>
                <td>{{p.b27_d4}}</td>
                <td>{{p.b27_d5}}</td>
                <td>{{p.b27_d6}}</td>
              </tr>
              {% endif %}
              {% if p.b28 %}
              <tr>
                <td>{{p.b28}}</td>
                <td>{{p.t28}}</td>
                <td>{{p.a28}}</td>
                <td>{{p.b28_d0}}</td>
                <td>{{p.b28_d1}}</td>
                <td>{{p.b28_d2}}</td>
                <td>{{p.b28_d3}}</td>
                <td>{{p.b28_d4}}</td>
                <td>{{p.b28_d5}}</td>
                <td>{{p.b28_d6}}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col-lg-8 mx-auto">
              <form class="container offset-md-2" method="post" action="/apply/">{% csrf_token %}
                  <h2 class="display-3" > Apply profile </h2>
                  <h5>{{status}}</h5>

              <div class="form-group col-md-8 col-xs-8 offset-xs-2" style="display: inline; margin-top:10px;">
            <h3>Main Block</h3>

              Current profile: {{ currvals.main }}
              <br>
              <select class="form-control" name="main">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select>
              <br>
            <h3>KE Block</h3>

              Current profile: {{ currvals.ke }}
              <br>
              <select class="form-control" name="ke">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select>
              <br>
            <h3>PG Block</h3>

              Current profile: {{ currvals.pg }}
              <br>
              <select class="form-control" name="pg">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select>
              <br>
                      <button class="btn btn-primary btn-lg" name="signin">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RSET 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/popper/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/js/scrolling-nav.js"></script>

  </body>

</html>
